<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>菜单</ion-list-header>
          <ion-note>{{ getUsername() }} </ion-note>

          <div *ngFor="let p of appPages">
            <ion-menu-toggle *ngIf="p.url">
              <ion-item
              lines="none"
                [routerLink]="p.url"
                routerDirection="root"
                routerLinkActive="active"
                [queryParams]="p?.params"
              >
                <ion-icon [name]="p.icon" slot="start" *ngIf="p.icon"></ion-icon>
                <ion-label> {{ p.title }} </ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-item
              *ngIf="p.children?.length > 0"
              (click)="p.open = !p.open"
              [class.active-parent]="p.open"
              detail="false"
              lines="none"
            >
              <ion-icon
                name="arrow-forward"
                slot="start"
                *ngIf="!p.open"
              ></ion-icon>
              <ion-icon
                name="arrow-down"
                slot="start"
                *ngIf="p.open"
              ></ion-icon>
              <ion-label> {{ p.title }} </ion-label>
            </ion-item>

            <ion-list *ngIf="p.open" class="listSubList"> 
              <ion-menu-toggle>
                <ion-item
                  lines="none"
                  class="sub-item"
                  *ngFor="let sub of p.children"
                  [routerLink]="sub.url"
                  [queryParams]="sub?.params"
                  routerDirection="root"
                  routerLinkActive="active"
                >
                  <ion-icon [name]="sub.icon" slot="start" *ngIf="sub.icon"></ion-icon>
                  <ion-label> {{ sub.title }} </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
