<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>库存列表</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showCommodityStockSearchCriteria()">
        筛选
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="initLoading" class="spinner">
  <ion-spinner class="ion-text-center"></ion-spinner>
  <p class="ion-text-center">加载中</p>
</div>
<ion-content>
  <div color="light" style="margin: 5px 10px 15px 10px">
    <app-stock-list-search-zoom [searchCriteria]="searchCriteria" (criteriaChangeEvent)="criteriaChangeEvent($event)"></app-stock-list-search-zoom>
  </div>

  <div>
    <p *ngIf="noData" class="ion-text-center noData"> 暂无数据</p>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of stockList" style="margin-top: 5px">
        <mat-expansion-panel-header>
          <mat-panel-title> {{item.CommodityLabel}} </mat-panel-title>
          <mat-panel-description>
            {{item.UnitQuantity}} ({{item.CurrentQuantity + item.Unit}})
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <p>{{item.CommodityLabel}} - {{item.CommodityId}} - {{item.CommodityTypeLabel}} - {{item.CommodityType2Code}}</p>
          <p *ngFor="let subItem of item?.Details">
            -
            {{subItem.ClientType}} - {{subItem.ClientName}}({{subItem.ClientId}})
            - {{subItem.UnitQuantity}} ({{subItem.CurrentQuantity + item.Unit}} )
          </p>
           <mat-divider></mat-divider>
           <p *ngFor="let productionDetail of item?.ProductionDetail">
            - {{productionDetail.ProductionNumber}} - {{productionDetail.WarehouseName}}({{productionDetail.WarehouseId}})
            - {{productionDetail.Quantity}} 
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
 

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="doInfinite($event)"
    [disabled]="disableInfiniteScroll"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在加载更多数据..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
